@model List<Group>
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    
    <ul class="alt">
        @foreach (var i in Model)
        {
            <li>
                <b>@i.Name</b>
                <a asp-controller="Group" asp-action="Index" asp-route-id=@i.Id class="buttons-header__start btn">
                    Enter
                </a>
                <br />
                <br />
                <br />
            </li>


        }
    </ul>
}
else
{
    <br>
    <h2>Войдите или зарегистрируйтесь</h2>
    <br>
    
}