<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="6u 12u$(xsmall)">
            <input type="text" name="Name" id="name" value="" placeholder="Name">
        </div>
        <br>
        <div class="6u 12u$(xsmall)">
            <input type="password" name="Password" id="name" value="" placeholder="Password">
        </div>
        <input type="submit" value="LogIn">
    </form>
</body>
</html>