<form asp-controller="Account" asp-action="Register" method="post">
    <div class="forms">
        <div class="email__block">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <input type="text" placeholder="Name" class="email input-reg" name="Name">
        </div>
        <div class="password__block">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" placeholder="password" class="password input-reg" name="Password">
        </div>
        <div class="password__block">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" placeholder="confirm password" class="password input-reg" name="ConfirmPassword">
        </div>
        <div class="form__alert"></div>
        <div>
            <button class="btn__reg a_register" type="submit" value="Register">зарегистрироваться</button>
        </div>
    </div>
    
    
    
    

</form>