<html>
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form asp-controller="Account" asp-action="Register" method="post">
        <div>
            <input type="text" name="Name" id="name" value="" placeholder="Name">
        </div>
        <br>
        <div>
            <input type="password" name="Password" id="name" value="" placeholder="Password">
        </div>
        <br>
        <div>
            <input type="password" name="ConfirmPassword" id="name" value="" placeholder="Confirm Password">
        </div>
        <br>
        <input type="submit" value="Register">
    </form>



</body>
</html>