<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Онлайн чат</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/core.css" type="text/css">

</head>

<body>

    <div class="wrapper">
        
        <header class="header">
            <div class="header__container container">
                <div class="header__row">

                    <img style="width: 5%;" src="~/css/logo.png" />

                    <div class="header__menu">
                        <div class="header__menu-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="header__menu-body"></div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {



                <h1>
                    &nbsp;  Welcome, @User.Identity.Name
                </h1>}
                    <div class="header__buttons buttons-header" data-da="header__menu-body,2,992">

                        @if (User.Identity.IsAuthenticated)
                        {







                <a asp-controller="Group" asp-action="Create" class="buttons-header__start btn">Создать Chat</a>
                                <a href="~/Account/Logout" class="buttons-header__login">Выйти</a>}
                            else
                            {

                <a asp-controller="Account" asp-action="Login" class="buttons-header__start btn">Войти</a>
                                <a asp-controller="Account" asp-action="Register" class="buttons-header__login">Зарегистрироваться</a>}

                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {

                <form method="get" asp-controller="Group" asp-action="Search" class="form-wrapper">
                    <input id="query" placeholder="Введите имя чата..." required="" type="text" name="input">
                    <input value="Search" id="submit" type="submit">
                </form>

            }
                </div>

            </div>
        </header>
        <main class="page">

            <div class="page__container container">
                <div class="page-tape">

                    <div class="page-tape__body">
                        <div class="page-tape__row">
                            <div class="page-tape__item">

                            </div>
                            <div class="page-tape__slider page-tape__item">
                                <div class="owl-carousel">

                                




                                    @RenderBody()



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="page-content__row">


                    </div>
                </div>
            </div>

        </main>
        <footer class="footer" data-sex_age="false">
            <div class="container">
                <div class="footer__items items-footer" data-da="header__menu-body,last,420">
                    <ul class="items-footer__list">
                                           <!--<li><div>made by <a href="https://devmastery.ru" class="items-footer__link">devmastery</a></div></li>-->
                    </ul>
                    <div class="items-footer__copyrighted">
                        2021 © Ilnur
                    </div>
                </div>
            </div>
            @RenderSection("Scripts", required: false)
        </footer>




    </div>
    <!-- Popup -->


</body>

</html>
