<html>
<head>
    <title>New Group Chat</title>
</head>
<body>
    <div >
        <form asp-controller="Group" asp-action="Create" method="post">
           
            <input type="text" name="Name" id="name" placeholder="Name">
            
            <input type="submit" value="Create" class="">
        </form>
    </div>
</body>
</html>